<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.ThreadPool" version="4.3.0" targetFramework="net472" />
  <package id="XyrusWorx.Foundation" version="3.1.1" targetFramework="net472" />
  <package id="XyrusWorx.Foundation.Threading" version="3.1.1" targetFramework="net472" />
  <package id="XyrusWorx.Foundation.Windows" version="3.1.1" targetFramework="net472" />
  <package id="XyrusWorx.Theme" version="1.0.0" targetFramework="net472" />
</packages>