<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net462" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="System.Reflection" version="4.0.10" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net462" />
  <package id="System.Runtime.Loader" version="4.0.0" targetFramework="net462" />
  <package id="XyrusWorx.Foundation" version="1.7.9" targetFramework="net462" />
  <package id="XyrusWorx.Foundation.Extensibility" version="1.7.9" targetFramework="net462" />
  <package id="XyrusWorx.Foundation.UserExperience" version="1.7.9" targetFramework="net462" />
  <package id="XyrusWorx.Foundation.Windows" version="1.7.9" targetFramework="net462" />
</packages>